@import '../../styles/settings.scss';

.columnForm {
  margin: 0 auto;
  width: 55%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.columnFormTitle {
  margin: 12px;
}

.columnFormInput {
  margin: 12px;
}

.columnFormButton {
  padding-top: 26px;
}

@media (max-width: 1200px) {
  .columnForm {
    width: 80%;
  }
}

@media (max-width: 787px) {
  .columnForm {
    flex-direction: column;
  }
  .columnFormButton {
    padding-top: 12px;
  }
}