@import '../../styles/settings.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darken($color-dark, 3%);
  line-height: 1.3;
  padding: $base-size;
  font-weight: 700;
  text-transform: uppercase;
}

.navbarList {
  list-style-type: none;
  padding-left: ($base-size * 2);

  li {
    display: inline-block;
    margin-right: ($base-size * 2);
  }

  a {
    text-decoration: none;
    color: $color-light;
  }
  .navbarIcon {
    font-size: 24px;
  }
  .linkActive {
    color: $color-warning;
  }
}
